{% extends "layout.html" %}
{% block content %}
<div class="card-deck">
    {% for res in response %}
    <div class="row">
        <div class="col-md-9">      
    <div class="card" style="width: 18rem">
        <img src="{{ res.image_url }}" width="300px" height="600px"class="card-img">
        <div class="card-body">
            <h5 class="card-title">{{ res.name }}</h5>
            <p>{{ res.tagline }}</p>
            <a class="btn btn-primary" href="#">Details</a>
        </div>
  </div>
  </div>
  </div>
{% endfor %}
</div>
{% endblock %}